*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: 280px;
    width: 200px;
    background-color: aquamarine;
    border-radius: 20px;
}
.visorzinho{
    margin: 30px 10px 10px 10px;
    border-radius: 20px;
    padding: 3px 10px 3px 0px;
    height: 25px;
    border: 1px solid grey;
    background-color: #fff;
    text-align: right;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 10px;
}
.teclas__num{
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px 30px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
}
.num, .op{
    border-radius: 50px;
    border: 1px solid grey;
    color: rgb(5, 79, 57);
    cursor: pointer;
}
.igual {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 65px;
}